# Database Configuration
NODE_ENV=DEV

# Option 1: For production, use DATABASE_URL from Supabase
DATABASE_URL=postgresql://postgres:nzQXWxOMEAuwPHr6@db.syzeyngfwoqneajmgouy.supabase.co:5432/postgres

# Option 2: For local/dev environment, use individual credentials
DB_USER=postgres
DB_HOST=aws-0-eu-west-1.pooler.supabase.com
DB_PASSWORD=nzQXWxOMEAuwPHr6
DB_NAME=postgres
DB_PORT=6543

# Server Configuration
PORT=3000
